<% if user_signed_in? %>
<% if current_user.admin!=1 %>
<% controller.redirect_to "public/404.html" %>
<% else %>

<div class="panel panel-default">
  <div class="panel-heading">Usuarios registrados</div>
<br>

<br><br>
<div class="table-responsive">
  <table id="example2" class="table">
    <thead><tr>
<th>Usuario</th>
<th>Correo</th>
<th>Edad</th>
<th>Escuela</th>
<th>Grado</th>
<th>Respuestas</th>
<th>Estado cuestionario</th>
</tr></thead><tbody>
<% @t = Time.now %>
<% @añoactual = @t.strftime("%Y").to_i %>
    <% @users.each do |user| %>
    <tr>
      <% if @resp = Resp.find_by(user_id: user.id) %>
      <td><%= user.name %> <%= user.paterno %> <%= user.materno %><rt></td>
      <td><%= user.email %></td>
      <td><%= @añoactual-user.edad.strftime("%Y").to_i %></td>
      <td><%= user.escuela %></td>
      <% if user.grado == nil %>
      <td>Sin grado</td>
      <% elsif user.grado == "1" %>
      <td>1ro de Secundaria</td>
      <% elsif user.grado == "2" %>
      <td>2ndo de Secundaria</td>
      <% elsif user.grado == "3" %>
      <td>3ro de Secundaria</td>
      <% elsif user.grado == "4" %>
      <td>1ro de Preparatoria</td>
      <% elsif user.grado == "5" %>
      <td>2ndo de Preparatoria</td>
      <% elsif user.grado == "6" %>
      <td>3ro de Preparatoria</td>
      <% end %>
      <% @valores="" %>
      <% Resp.where(user_id: user.id).each do |r| %>
      <% @valores=@valores+r.cual.to_s+"\n" %>
      <% end %>
      <td><%= @valores %></td>
      <td>Realizada el <%= @resp.created_at.strftime('%b %d, %Y , %I:%M %p') %></td>
      <td><%= link_to "Resultados", principale_path(user) %></td>
      <% else %>
      <td><%= user.name %> <%= user.paterno %> <%= user.materno %></td>
      <td><%= user.email %></td>
      <td><%= @añoactual-user.edad.strftime("%Y").to_i %></td>
      <td><%= user.escuela %></td>
      <% if user.grado == nil %>
      <td>Sin grado</td>
      <% elsif user.grado == "1" %>
      <td>1ro de Secundaria</td>
      <% elsif user.grado == "2" %>
      <td>2ndo de Secundaria</td>
      <% elsif user.grado == "3" %>
      <td>3ro de Secundaria</td>
      <% elsif user.grado == "4" %>
      <td>1ro de Preparatoria</td>
      <% elsif user.grado == "5" %>
      <td>2ndo de Preparatoria</td>
      <% elsif user.grado == "6" %>
      <td>3ro de Preparatoria</td>
      <% end %>
      <td>Sin respuesta</td>
      <td>Aun no ha realizado la encuesta</td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
    </table>
  </div>
</div><br>

<div class="mipanel">
<p>
  Descargar:
  <%= link_to "CSV", principales_path(format: "csv") %> |
  <%= link_to "Excel", principales_path(format: "xls") %>
</p>
</div>
<script>
      $('#example2').DataTable();
      </script>
<% end %>

<% else %>
<% controller.redirect_to root_path %>
<% end %>
