<% if user_signed_in? %>
<% if current_user.admin!=1 %>
<% controller.redirect_to "public/404.html" %>
<% else %>

<div class="panel panel-default">
  <div class="panel-heading">Usuarios registrados</div>
<br>
  <center><%= form_tag({:controller => "principales", :action => "index"}, :method => :get) do %>
    <%= text_field_tag "searchbox", params[:searchbox] , class: "searchbox"%>
    <%= submit_tag "Buscar", :name => nil , class: "btn btn-default" %>
    <%= select_tag :per_page, options_for_select([10,20,30,40,50], params[:per_page].to_i),
           :onchange => "if(this.value){window.location='?per_page='+this.value;}" %> Resultados por pagina
<% end %></center>
<br><br>
<div class="table-responsive">
  <table class="table">
    <tr>
<th>Usuario</th>
<th>Correo</th>
<th>Edad</th>
<th>Escuela</th>
<th>Grado</th>
<th>Respuestas</th>
<th>Estado cuestionario</th>
</tr>
<% @t = Time.now %>
<% @añoactual = @t.strftime("%Y").to_i %>
    <% @users.each do |user| %>
    <tr>
      <% if @resp = Resp.find_by(user_id: user.id) %>
      <td><%= user.name %> <%= user.paterno %> <%= user.materno %><rt></td>
      <td><%= user.email %></td>
      <td><%= @añoactual-user.edad.strftime("%Y").to_i %></td>
      <td><%= user.escuela %></td>
      <% if user.grado == nil %>
      <td>Sin grado</td>
      <% elsif user.grado == "1" %>
      <td>1ro de Secundaria</td>
      <% elsif user.grado == "2" %>
      <td>2ndo de Secundaria</td>
      <% elsif user.grado == "3" %>
      <td>3ro de Secundaria</td>
      <% elsif user.grado == "4" %>
      <td>1ro de Preparatoria</td>
      <% elsif user.grado == "5" %>
      <td>2ndo de Preparatoria</td>
      <% elsif user.grado == "6" %>
      <td>3ro de Preparatoria</td>
      <% end %>
      <% @valores="" %>
      <% Resp.where(user_id: user.id).each do |r| %>
      <% @valores=@valores+r.cual.to_s+"\n" %>
      <% end %>
      <td><%= @valores %></td>
      <td>Realizada el <%= @resp.created_at.strftime('%b %d, %Y , %I:%M %p') %></td>
      <td><%= link_to "Resultados", principale_path(user) %></td>
      <% else %>
      <td><%= user.name %> <%= user.paterno %> <%= user.materno %></td>
      <td><%= user.email %></td>
      <td><%= @añoactual-user.edad.strftime("%Y").to_i %></td>
      <td><%= user.escuela %></td>
      <% if user.grado == nil %>
      <td>Sin grado</td>
      <% elsif user.grado == "1" %>
      <td>1ro de Secundaria</td>
      <% elsif user.grado == "2" %>
      <td>2ndo de Secundaria</td>
      <% elsif user.grado == "3" %>
      <td>3ro de Secundaria</td>
      <% elsif user.grado == "4" %>
      <td>1ro de Preparatoria</td>
      <% elsif user.grado == "5" %>
      <td>2ndo de Preparatoria</td>
      <% elsif user.grado == "6" %>
      <td>3ro de Preparatoria</td>
      <% end %>
      <td>Sin respuesta</td>
      <td>Aun no ha realizado la encuesta</td>
      <% end %>
      </tr>
    <% end %>
    </table>
  </div>
</div><br>

<div class="mipanel">
<%= will_paginate @users,renderer: BootstrapPagination::Rails, previous_label: "Anterior", next_label: "Siguiente"%>
<br><br>
<p>
  Descargar:
  <%= link_to "CSV", principales_path(format: "csv") %> |
  <%= link_to "Excel", principales_path(format: "xls") %>
</p>
</div>
<% end %>

<% else %>
<% controller.redirect_to root_path %>
<% end %>
