<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Correo</Data></Cell>
        <Cell><Data ss:Type="String">Grado</Data></Cell>
        <Cell><Data ss:Type="String">Realizada</Data></Cell>
        <Cell><Data ss:Type="String">Comite(s)</Data></Cell>
      </Row>
    <% @usuarios.each do |user| %>
      <Row>
        <Cell><Data ss:Type="String"><%= user.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.name %> <%= user.paterno %> <%= user.materno %> </Data></Cell>
        <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
        <% if user.grado == nil %>
        <Cell><Data ss:Type="String">Sin grado</Data></Cell>
        <% elsif user.grado == "1" %>
        <Cell><Data ss:Type="String">1ro de Secundaria</Data></Cell>
        <% elsif user.grado == "2" %>
        <Cell><Data ss:Type="String">2ndo de Secundaria</Data></Cell>
        <% elsif user.grado == "3" %>
        <Cell><Data ss:Type="String">3ro de Secundaria</Data></Cell>
        <% elsif user.grado == "4" %>
        <Cell><Data ss:Type="String">1ro de Preparatoria</Data></Cell>
        <% elsif user.grado == "5" %>
        <Cell><Data ss:Type="String">2ndo de Preparatoria</Data></Cell>
        <% elsif user.grado == "6" %>
        <Cell><Data ss:Type="String">3ro de Preparatoria</Data></Cell>
        <% end %>

        <% if @resp = Resp.find_by(user_id: user.id) %>
        <Cell><Data ss:Type="String"><%= @resp.created_at.strftime('%b %d, %Y , %I:%M %p') %></Data></Cell>
        <% Resp.where(user_id: user.id).each do |r| %>
        <Cell><Data ss:Type="String"><%= r.cual.upcase %></Data></Cell>
        <% end %>
        <% else %>
        <Cell><Data ss:Type="String">No</Data></Cell>
        <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
