<% if current_user.admin!=1 %>
<% controller.redirect_to "public/404.html" %>
<% else %>
<% if user_signed_in? %>
  <% if @opc && @ss=="2"%>
  <div class="total">
  <center><strong><p>Los comités en los cuales pertenece<br><%= @user.name%> <%= @user.paterno%> <%= @user.materno%> son:</p></strong></center>
  </div><br><br>
    <%= render "quiz/result2" %>
    <div class="mipanel"><button class="btn btn-primary" onclick="window.location.href='../'">Aceptar</button></center>
    <%= link_to "Descargar PDF", principale_path(@user, :format => 'pdf'), class: "btn btn-primary", :target => "_blank" %></div>

  <% elsif @opc && @ss=="1"%>
  <div class="total">
  <center><strong><p>Los comités en los cuales pertenece<br><%= @user.name%> <%= @user.paterno%> <%= @user.materno%> son:</p></strong></center>
  </div><br><br>
<%= render "quiz/resul" %>
<div class="mipanel"><button class="btn btn-primary" onclick="window.location.href='../'">Aceptar</button></center>
<%= link_to "Descargar PDF", principale_path(@user, :format => 'pdf'), class: "btn btn-primary" , :target => "_blank"%></div>

<% end %>
<% end %>
<% end %>
