  <% @idr.each do |a| %>
        <% @datos.each do |dat| %>
          <% if @idr[@idr.index(a)] == dat.cual %>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <center><%=image_tag(@idr[@idr.index(a).to_i]+".png", alt: "Example Image", class: "img-responsive")%><br>
                    <h2><%= @titulo1[@idr.index(a).to_i] %></h2><br>
                    <h1><%= @sub1[@idr.index(a).to_i] %></h1><br>
                    <strong>Chair members: </strong><%= @quien1[@idr.index(a).to_i] %><br>
                    <strong>Level:</strong><%= @level1[@idr.index(a).to_i] %><br>
                    <strong>Grade:</strong><%= @grade1[@idr.index(a).to_i] %><br><br><br><br></center>
                </div>
              </div>
            </div><br><br>
          <% end %>
      <% end %>
   <% end %>
