<div class="panel panel-default">
  <div class="panel-body">
        <% @imagen.each do |a| %>
        <% @datos.each do |dat| %>
        <% if @imagen[@imagen.index(a)] == dat.cual %>
        <div class="row">
        <center><%=image_tag(@imagen[@imagen.index(a).to_i]+".png", alt: "Example Image")%><br>
        <h2><%= link_to @titulo[@imagen.index(a).to_i], @url[@imagen.index(a).to_i] %></h2><br>
        <h1><%= @sub[@imagen.index(a).to_i] %></h1><br>
        <strong>Miembros de la mesa:</strong><%= @quien[@imagen.index(a).to_i] %><br>
        <strong>Nivel:</strong><%= @level[@imagen.index(a).to_i] %><br>
        <strong>Grado:</strong> <%= @grade[@imagen.index(a).to_i] %><br><br><br><br></center>
        </div>
        <% end %>
        <% end %>
        <% end %><br><br>
    </div>
  </div>
