<% if user_signed_in? %>
  <% if @opc && @ss=="2"%>
  <p>
    <% @imagen.each do |a| %>
      <% @datos.each do |dat| %>
        <% if @imagen[@imagen.index(a)] == dat.cual %>
          <p>
            <%=image_tag(@imagen[@imagen.index(a).to_i]+".png", alt: "Example Image")%><br>
            <h2><%= link_to @titulo[@imagen.index(a).to_i], @url[@imagen.index(a).to_i] %></h2><br>
            <h1><%= @sub[@imagen.index(a).to_i] %></h1><br>
            <%= @quien[@imagen.index(a).to_i] %><br>
            Level: <%= @level[@imagen.index(a).to_i] %><br>
            Grade: <%= @grade[@imagen.index(a).to_i] %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </p>
  <% elsif @opc && @ss=="1"%>
  <p>
    <% @idr.each do |a| %>
      <% @datos.each do |dat| %>
        <% if @idr[@idr.index(a)] == dat.cual %>
          <p>
            <%=image_tag(@idr[@idr.index(a).to_i]+".png", alt: "Example Image")%><br>
            <h2><%= link_to @titulo1[@idr.index(a).to_i], @url1[@idr.index(a).to_i] %></h2><br>
            <h1><%= @sub1[@idr.index(a).to_i] %></h1><br>
            <%= @quien1[@idr.index(a).to_i] %><br>
            Level: <%= @level1[@idr.index(a).to_i] %><br>
            Grade: <%= @grade1[@idr.index(a).to_i] %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </p>

  <% else %>
  <p>
    Respond every section with full honesty and objectiveness./ Responde todas las secciones con completa honestidad y objetividad.</p>
    <%= link_to "Iniciar", quiz_preg1_path %>
    <% end %>

<% else %>
<p>
  Bienvenido, antes de comenzar debes registrarte.
</p>

<% end %>
