<% if user_signed_in? %>
<% if current_user.admin %>
<% controller.redirect_to principales_path %>
<% else %>
<div class="panel panel-default">
</div>
  <div class="panel panel-default">
    <center><h3>Intelligence Department/ Departamento de Inteligencia</h3></center><br>
<center><%=image_tag("ini2.jpeg", alt: "Bienvenido")%></center><br>
<% if @opc %>
<center><p>Welcome!<strong>Let our lives be a message, so that it lasts even in our absence</strong></p></center><br>
<center><p>Para visualizar tus resultados da <%= link_to "click aqui", quiz_resultados_path, class:"button" %><br>
o si prefieres puedes <%= link_to "Descargar PDF", quiz_resultados_path(@user, :format => 'pdf') %></p></center>
<% else %>
<center><p>Welcome to <strong>My best committee</strong>, this section has as purpose to guide and
suggest you to pick a committee in which you will have the best
development and experience.
</p></center><br>
<center><p>Para realizar el cuestionario da <%= link_to "click aqui", quiz_inicio_path, class:"button" %></p></center>
<% end %>
</div>
<% end %>
<% else %>
<div class="panel panel-default">
  <center><h3>Intelligence Department/ Departamento de Inteligencia</h3></center><br>
  <center><%=image_tag("prese.jpeg", alt: "Bienvenido")%></center><br>
  <center><p>Welcome to <strong>My best committee</strong>, this section has as purpose to guide and
  suggest you to pick a committee in which you will have the best
  development and experience.
</p></center><br>
<center>Si ya tienes una cuenta por favor da click en <%= link_to "Iniciar sesion", new_user_session_path %>, si por el contrario es tu primera vez aqui, por favor da click en <%= link_to "Registrarse", new_user_registration_path %> en la parte superior derecha.</p></center>
</div>

<% end %>
