<% if @opc %>
<% controller.redirect_to root_path %>
<% else %>
<div class="panel panel-default">
<p>
  How confident do you feel about your English skills?/¿Cómo calificarías tu nivel de inglés?
</p>
<%= form_tag({controller: "quiz", action: "resp1"}) do |f| %>
<p>
    <p>I need more practice/Necesito mas practica
  	1 <%= radio_button_tag(:choice, 1) %>
    2 <%= radio_button_tag(:choice, 2) %>
    3 <%= radio_button_tag(:choice, 3) %>
    4 <%= radio_button_tag(:choice, 4) %>
    5 <%= radio_button_tag(:choice, 5) %>
    6 <%= radio_button_tag(:choice, 6) %>
    I could be confused as a native speaker/Mi nivel de ingles es impecable
  </p>
<%= submit_tag("Next/Siguiente", :class => "btn btn-default") %>
</p>
</div>
<% end %>

<% end %>
