<p>
  Los comites en los cuales destacaras mas como delegado seran:
</p><br>
<% @varios.each do |a| %>
<p>
<%=image_tag(@idr[a.to_i]+".png", alt: "Example Image")%><br>
<h2><%= link_to @titulo[a.to_i], @url[a.to_i] %></h2><br>
<h1><%= @sub[a.to_i] %></h1><br>
<%= @quien[a.to_i] %><br>
Level: <%= @level[a.to_i] %><br>
Grade: <%= @grade[a.to_i] %>
</p>
<% end %>
