<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">
        <%=image_tag("ind.jpeg", alt: "Example Image", style: "max-width:60px; margin-top: -7px;")%>

    </a>
      <%= link_to "Intelligence Department", root_path, class: "navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-nav navbar-right">
        <% if user_signed_in? %>
        <% if current_user.admin==1 %>
        <% else %>
        <% if Resp.where(user_id: current_user).first %>
        <%= link_to "Mis resultados  |", quiz_resultados_path,class: "navbar-brand"%>
        <% else %>
        <%= link_to "Cuestionario  |", quiz_inicio_path, class: "navbar-brand"%>
        <% end %>
        <% end %>
         <%= link_to "Mi cuenta  |", edit_user_registration_path,class: "navbar-brand" %>
          <%= link_to "Salir", destroy_user_session_path , method: :delete,class: "navbar-brand"%>
        <% else %>
          <%= link_to "Registrarse  |", new_user_registration_path, class: "navbar-brand"%>
          <%= link_to "Iniciar sesion", new_user_session_path, class: "navbar-brand"%>
        <% end %>
      </div>


  </div><!-- /.container-fluid -->
</nav>
